<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库IP-->
    <add key="DbHost" value="127.0.0.1"/>
    <!--数据库端口-->
    <add key="DbPort" value="3306"/>
    <!--数据库用户-->
    <add key="DbUser" value="root"/>
    <!--数据库密码-->
    <add key="DbPassword" value="root"/>
    <!--数据库名-->
    <add key="DbName" value=""/>
  </appSettings>
</configuration>